@import "@radix-ui/colors/blackA.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/green.css";
/* reset */

.LabelRoot,
.accountLabel {
  font-size: 15px;
  font-weight: 500;
  line-height: 35px;
  color: var(--blackA9);
  user-select: none;
}

.accountField {
  color: black;
}

.surveyTitle {
  all: unset;
  width: 100%;
  max-width: 302px;
  display: inline-flex;
  text-align: left;
  border-radius: 4px;
  padding: 0 10px;
  height: 35px;
  font-size: 15px;
  line-height: 1;
  color: black;
  background-color: white;
  box-shadow: 0 0 0 1px var(--blackA9);
}
.surveyTitle:focus {
  box-shadow: 0 0 0 2px #355e3b;
}

.publishBtn {
  all: unset;
  margin-top: px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
  padding: 0 15px;
  line-height: 35px;
  height: 35px;
  width: 82px;
  background-color: white;
  color: #355e3b;
  box-shadow: 0 2px 10px var(--blackA7);
}
.addQuestionBtn {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
  padding: 0 15px;
  line-height: 35px;
  height: 35px;
  width: 125px;
  margin-right: 32px;
  background-color: white;
  color: #355e3b;
  box-shadow: 0 2px 10px var(--blackA7);
}

.removeQuestionBtn {
  all: unset;
  margin-top: 15px;
  position: relative;
  top: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
  padding: 0 15px;
  line-height: 35px;
  height: 35px;
  width: 100px;
  background-color: white;
  color: red;
  box-shadow: 0 2px 10px var(--blackA7);
}
.panelBtn:hover {
  background-color: var(--mauve3);
  cursor: pointer;
}

/**
Question 
**/

/* reset */
button,
h3 {
  all: unset;
}

.AccordionRoot {
  border-radius: 6px;
  width: 300px;
  background-color: var(--mauve6);
  box-shadow: 0 2px 10px var(--blackA4);
}

.AccordionItem {
  width: 322px;
  overflow: hidden;
  margin-top: 1px;
  border-bottom: 1px solid var(--mauve6);
}

.AccordionItem:first-child {
  margin-top: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.AccordionItem:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.AccordionItem:focus-within {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 0 1px var(--mauve11);
}

.AccordionHeader {
  display: flex;
}

.AccordionTrigger {
  font-family: inherit;
  background-color: transparent;
  padding: 0 20px;
  height: 45px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  line-height: 1;
  color: var(--violet11);
  box-shadow: 0 1px 0 var(--mauve6);
  background-color: white;
}

.AccordionTrigger:hover {
  background-color: var(--mauve2);
}

.AccordionContent {
  overflow: hidden;
  font-size: 15px;
  color: var(--mauve11);
  background-color: var(--mauve2);
}
.AccordionContent[data-state="open"] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionContent[data-state="closed"] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContentText {
  padding: 15px 20px;
  text-align: left;
}

.AccordionChevron {
  color: var(--violet10);
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionTrigger[data-state="open"] > .AccordionChevron {
  transform: rotate(180deg);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.QuestionPanel {
  display: flex;
  flex-direction: column;
}

/** Panel.jsx **/

.panelContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  /* width: 100vw;
  height: 100vh; */
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 24px;
}
.panelBtnGroup {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
}
/* .formContainer {
  width: 50%;
} */
.questionTitle {
  all: unset;
  width: 250px;
  display: inline-flex;
  text-align: left;
  border-radius: 4px;
  padding: 0 10px;
  height: 35px;
  font-size: 15px;
  line-height: 1;
  color: var(--mauve11);
  background-color: white;
  box-shadow: 0 0 0 1px var(--mauve11);
}
.questionTitle:focus {
  box-shadow: 0 0 0 2px var(--mauve11);
}
.errorsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-top: 12px;
}
.errorsHeader {
  color: #525f7f;
  font-weight: bold;
  text-align: left;
}
.surveySectionLabel {
  font-size: 18px;
  font-weight: bold;
  line-height: 35px;
  color: #525f7f;
  user-select: none;
}
/** end of Panel.jsx **/

/** alert dialog **/
/* reset */
button {
  all: unset;
}

.AlertDialogOverlay {
  background-color: var(--blackA9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.AlertDialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.AlertDialogContent:focus {
  outline: none;
}

.AlertDialogTitle {
  margin: 0;
  color: var(--mauve12);
  font-size: 17px;
  font-weight: 500;
}

.AlertDialogDescription {
  margin-bottom: 20px;
  color: var(--mauve11);
  font-size: 15px;
  line-height: 1.5;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
}
.Button.violet {
  background-color: white;
  color: var(--violet11);
  box-shadow: 0 2px 10px var(--blackA7);
}
.Button.violet:hover {
  background-color: var(--mauve3);
}
.Button.violet:focus {
  box-shadow: 0 0 0 2px black;
}
.Button.red {
  background-color: var(--red4);
  color: var(--red11);
}
.Button.red:hover {
  background-color: var(--red5);
  cursor: pointer;
}
.Button.red:focus {
  box-shadow: 0 0 0 2px var(--red7);
}
.Button.green {
  background-color: var(--green4);
  color: var(--green9);
}
.Button.green:hover {
  background-color: var(--green5);
}
.Button.green:focus {
  box-shadow: 0 0 0 2px var(--green7);
}
.Button.mauve {
  background-color: var(--mauve4);
  color: var(--mauve11);
}
.Button.mauve:hover {
  background-color: var(--mauve5);
}
.Button.mauve:focus {
  box-shadow: 0 0 0 2px var(--mauve7);
}
#deleteSurvey {
  margin-top: 12px;
}
@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.surveyLinkContainer {
  margin-top: 12px;
  text-align: left;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.surveyLink {
  width: 5px;
}
.surveyLinkContainer * {
  margin-bottom: 5px;
}
.surveyLinkHeader {
  color: #525f7f;
  font-weight: bold;
  margin-bottom: 10px;
}
.surveyLinkDetails {
  font-size: 13px;
  color: #525f7f;
  font-weight: bold;
}

.redirectUrlText {
  color: rgb(60, 66, 87);
  background: rgb(247, 250, 252);
  border: 1px solid #efefef;
  padding: 2px;
  border-radius: 5px;
}
.redirectSection {
  margin-top: 15px;
}
.redirectUrl {
  margin-left: 5px;
  width: 250px;
}
@media (max-width: 1260px) {
  .panelContainer {
    flex-direction: column;
  }
}
