@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/blackA.css";
.noSurveyContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.surveyMsg {
  font-weight: bold;
  margin-top: 12px;
  margin-left: 5px;
  font-size: 25px;
}
.logoContainer {
  display: flex;
  flex-direction: row;
}
.flowerLogoImg {
  height: 40px;
  position: relative;
  top: 6px;
  left: 2px;
}
.surveyNameHeader {
  font-size: 22px;
  font-weight: bold;
  color: #525f7f;
}
.surveyParentContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}
.surveyContainer {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 5px;
  border: 2px solid #f6f6f6;
  height: 500px;
  width: 46vw;
  margin-right: 5vw;
  position: relative;
  top: 10px;
  margin-bottom: 24px;
  background-color: #faf9f6;
  border: 1px solid #355e3b;
  /* justify-content: center; */
}
.addDetails {
  font-size: 18px;
}
.previewButtonsContainer {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: auto;
  margin-bottom: 8px;
}
.previewButton {
  all: unset;
  margin-top: 15px;
  /* margin-right: 75px; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  padding: 0 15px;
  line-height: 35px;
  height: 38px;
  width: 100px;
  background-color: white;
  color: #355e3b;
  box-shadow: 0 2px 10px var(--blackA7);
}
.disabledButton {
  all: unset;
  margin-top: 15px;
  /* margin-right: 75px; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
  padding: 0 15px;
  line-height: 35px;
  height: 38px;
  width: 100px;
  background-color: var(--mauve8);
  color: #355e3b;
  box-shadow: 0 2px 10px var(--blackA7);
}
.disabledButton:hover {
  cursor: pointer;
}
.previewButton:hover {
  background-color: var(--mauve3);
  cursor: pointer;
}
.previewButton.prevBtn {
  margin-right: 35px;
}
.questionNumber {
  text-align: left;
  font-weight: bold;
  position: relative;
  top: 7px;
  font-size: 17px;
}
.surveyQuestionTitle {
  font-size: 20px;
  font-weight: bold;
}
/* question view */
.questionViewerContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
}
.answerChoicesContainer {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}
.answerChoiceButton {
  all: unset;
  margin-top: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
  padding: 0 15px;
  line-height: 35px;
  height: 40px;
  min-width: 150px;
  background-color: white;
  color: #355e3b;
  box-shadow: 0 2px 10px var(--blackA7);
}
.answerChoiceButton:hover {
  background-color: var(--mauve3);
  cursor: pointer;
}
.answerChoiceButtonSelected {
  all: unset;
  background-color: #355e3b;
  color: white;
  margin-top: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
  padding: 0 15px;
  line-height: 35px;
  height: 40px;
  min-width: 150px;
  box-shadow: 0 2px 10px var(--blackA7);
}
.answerChoiceButtonSelected:hover {
  cursor: pointer;
}
.surveyQuestionDetail {
  color: #525f7f;
  margin-top: 10px;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}
.loadingQuestionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
.openEndedTextArea {
  resize: none;
  margin-top: 24px;
  padding: 8px;
  border-radius: 4px;
  font-family: sans-serif;
}
@media (max-width: 768px) {
  .openEndedTextArea {
    max-width: 300px;
  }
}

.startSurveyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 105px;
}

.emojiContainer {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: 24px;
}
.emoji {
  font-size: 30px;
  margin-right: 12px;
}
.emojiSelected {
  font-size: 30px;
  margin-right: 12px;
  padding-bottom: 5px;
  border-bottom: 2px solid #525f7f;
}
.emoji:hover {
  cursor: pointer;
}
@media (max-width: 768px) {
  .previewButton,
  .disabledButton {
    width: 75px;
    position: relative;
    top: 15px;
  }
  .surveyParentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .surveyQuestionTitle {
    font-size: 18px;
  }
  .surveyContainer {
    /* height: 100%; */
    width: 85vw;
    padding-bottom: 24px;
  }
  .previewButtonsContainer {
    position: absolute;
    bottom: 28px;
  }

  .surveyContainerParent {
    margin-top: 12px;
    margin-bottom: 24px;
  }
}
